@use "app/assets/styles/mixins.scss" as mixin;

.about-container-component {
  display: flex;
  flex-direction: column;
  gap: 104px;
  min-height: 100%;
  padding: 80px 24px;

  > .title {
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-family: Chillax, sans-serif;
    font-size: 4.5rem;
    font-weight: 600;
    line-height: 1.2;
  }
}

@include mixin.responsive(tab) {
  .about-container-component {
    gap: 128px;
    padding: 80px;
  }
}

@include mixin.responsive(pc) {
  .about-container-component {
    gap: 128px;
    padding: 160px;
  }
}
