@use "app/assets/styles/variables.scss" as var;
@use "app/assets/styles/mixins.scss" as mixin;

.header-component {
  display: flex;
  align-items: center;
  justify-content: start;
  height: 80px;
  padding: 0 24px;
  color: var.$text-primary;

  > .navigation {
    position: relative;
    display: flex;
    gap: 16px;
    height: 24px;
    font-family: Chillax, sans-serif;
    font-size: 20px;
    font-weight: 400;
    transition: font-weight 0.3s ease-in-out;

    > .link {
      &:hover {
        font-weight: 600;
      }
    }
  }
}

.overlay-navigation {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 24px;
  background: rgba(#3d8cad, 50%);
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-backdrop-filter: blur(1rem);
  backdrop-filter: blur(2rem);

  > .item {
    display: block;
    padding: 16px;
    font-family: Chillax, sans-serif;
    font-size: 20px;
    font-size: 1.5rem;
    font-weight: 500;
    color: var.$text-primary;
    transition: font-weight 0.3s ease-in-out;

    &:hover {
      font-weight: 900;
    }
  }
}

@include mixin.responsive(pc) {
  .header-component {
    justify-content: end;
    padding: 0 80px;
  }
}
