$breakpoint: (
  sp: "screen and (max-width: 599px)",
  tab: "screen and (min-width: 600px) and (max-width: 1023px)",
  pc: "screen and (min-width: 1024px)",
);

@mixin responsive($bp) {
  @media #{map-get($breakpoint, $bp)} {
    @content;
  }
}
