@use "app/assets/styles/variables.scss" as var;
@use "app/assets/styles/mixins.scss" as mixin;

.index-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: start;
  justify-content: center;
  width: 100%;
  height: 100dvh;
  padding: 0 24px;
  color: var.$text-primary;

  > .logo {
    max-width: 100%;
    max-height: 80px;
  }
}

@include mixin.responsive(tab) {
  .index-container {
    gap: 40px;
    padding: 0 80px;
  }
}

@include mixin.responsive(pc) {
  .index-container {
    gap: 80px;
    padding: 0 160px;
  }
}
