@use "app/assets/styles/variables.scss" as var;
@use "app/assets/styles/mixins.scss" as mixin;

.button-component {
  inline-size: fit-content;
  padding: 12px 32px;
  font-size: 16px;
  touch-action: manipulation;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-user-select: none;
  user-select: none;
  background-color: rgba(var.$text-primary, 0.1);
  border: 2px solid var.$text-primary;
  border-radius: calc(2147483647px);
  transition: all 0.1s ease-in-out;

  &::file-selector-button {
    inline-size: fit-content;
    touch-action: manipulation;
    user-select: none;
  }

  &:focus-visible {
    outline: none;
  }

  &:active {
    transform: scale(0.98);
  }

  &.-chillax {
    font-family: Chillax, sans-serif;
    font-weight: 500;
  }

  &.-satoshi {
    font-family: Satoshi, sans-serif;
  }
}
